* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #a28181;
    color: #570303;
}
header {
    background-color: #680404;
    color: #d5bbbb;
    padding: 20px 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
.hero {
    background-color: #211a18;
    color: #e9dcdc;
    text-align: center;
    padding: 60px 0;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
}
.hero .btn {
    background-color: #3f0000;
    color: #ff7043;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.hero .btn:hover {
    background-color: #ff5722;
    color: #7d0505;
}
.menu {
    padding: 40px 0;
    background-color: #d77a7a;
}

.menu h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.menu-category {
    margin-bottom: 40px;
}

.menu-category h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

     .menu-items {
    display: flex;
              justify-content: space-around;
              gap: 20px;
              flex-wrap: wrap;
}

.menu-item {
             background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
           text-align: center;
    width: 30%;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item img {
 width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.menu-item h4 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.menu-item p {
    font-size: 1rem;
    color: #555;
}

.menu-item span {
    font-size: 1.2rem;
    color: #e60000;
    font-weight: bold;
}
.about {
    background-color: #eb9f9f;
    padding: 40px 0;
}

.about h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    text-align: center;
    font-size: 1.2rem;
}

.contact {
    background-color: #dd7575;
    padding: 40px 0;
}

.contact h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

form {
    width: 50%;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #090606;
}

form button {
    background-color: #0d70f0;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #1e0be6;
}


footer {
    background-color: #490000;
    color: #2d29f1;
    text-align: center;
    padding: 20px 0;
}